body
{
    font-family: Helvetica, arial, freesans, clean, sans-serif !important;
    font-weight: normal !important;
    font-size: 14px !important;
}
.container-fluid
{
    padding: 0px;
}
.header
{
    margin: 0px 0px 5px 0px;
    height: 70px;
    width: 100%;
    padding: 0px;
    color : #FFF;
    background: rgb(39,39,39); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(39,39,39,1) 0%, rgba(127,127,127,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(39,39,39,1)), color-stop(100%,rgba(127,127,127,1))); /* Chrome,Safari4+ */

}
.content
{
    height: 92%;
    margin: 0px;
}
.content>div
{
    padding: 0px;
    padding-left: 15px;
}
.chkbox
{
  width: 25px;
  margin: 10px 10px;
  position: relative;
  float: left;
}
.chkbox label.chklabel {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;
  left: -2px;
  background: #eee;
  border:1px solid #ddd;
  width: 80%;
}
.chkbox label.chklabel:after {
 opacity: 0.2;
  content: '';
  position: absolute;
  width: 14px;
  height: 7px;
  background: transparent;
  top: 3px;
  left: 3px;
  border: 2px solid #000;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.chkbox label.chklabel:hover::after {
  opacity: 0.5;
}
.chkbox input[type=checkbox]:checked + label.chklabel:after {
  opacity: 1;
}
ul.songlist
{
	list-style-type: none;
	padding: 0px;
	height: 100%;
	overflow: auto;
	box-shadow:			inset 0 0px 8px 0px #d1d1d1;
    -moz-box-shadow: 	inset 0 0px 8px 0px #d1d1d1;
    -webkit-box-shadow: inset 0 0px 8px 0px #d1d1d1;
    padding: 10px;
}
ul.songlist li 
{
   width: 33%;
   float:left;
   cursor: pointer;
   color: #000000;
   opacity : 0.9;
}
ul.songlist li:hover
{
	color: #0000ff;
	opacity: 1;
}
label.chktextlabel
{
	width: 80%;
	margin-top: 10px;
	cursor: pointer;
}
.control
{
	margin: 2px;
	height: 30px;
	width: 30px;
	vertical-align: top !important;
	cursor: pointer;
}
.styled-border
{
	height: 100%;
	overflow: auto;
	box-shadow:			inset 0 0px 8px 0px #d1d1d1;
    -moz-box-shadow: 	inset 0 0px 8px 0px #d1d1d1;
    -webkit-box-shadow: inset 0 0px 8px 0px #d1d1d1;
    padding: 10px;
}
#song-play
{
	height: 100%;
}
div.middle
{
    top: 30%;
}
#selectall
{
    vertical-align: top;
}
.key
{
    display: inline-block;
    min-width: 20px;
    padding: 5px 6px;
    margin: 5px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 11px;
    line-height: 1;
    color: #eee;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    background-color: #333;
    border-radius: 3px;
    box-shadow: inset 0 -2px 0 #111;
}
.titletext
{
    font-size: 30px;
}
.fileupload-container
{
    height: 68%;
    width: 100%;
    border: 0px;
}
.hide
{
  display: none !important;
}
.no-margin
{
  margin: 0px;
}
.left-float
{
  float: left;
}